<%- include("./partials/header") %>

<img id="papersHeader" src="/images/papers/PapersHeader.JPG">
<% papers.forEach(function(papers){%>
	<div class="card text-white background-color">
	 <div class="row no-gutters justify-content-center">
	   <div class="col-md-3">
		 <img src="<%= papers.image %>" class="card-img" alt="...">
	   </div>
	   <div class="col-md-9">
		 <div class="card-body">
		   <h5 class="card-title"><%= papers.title %></h5>
		   <p class="card-text"><a href="<%= papers.url %>"><%= papers.citation %></a></p>
		   <p class="card-text"><%= papers.authors %><br><br><%= papers.abstract %></p>
		 </div>
	   </div>
	 </div>
	</div>
<% }) %>

<%- include("./partials/footer") %>