<%- include("./partials/header") %>

<section class="people-img-container">
    <img src="/images/LabPhoto.jpg" class="lab-photo">
</section>

<main class="people-container">
    <h1 class="people-main-title">Members of the Lab</h1>

    <section class="people-pi">
        <h1>Principle Investigator</h1>
        <div class="people-card">
            <img class="people-avatar" src="<%= principleInvestigator.image  %>" alt="<%= principleInvestigator.name %>"/>
            <div class="people-body">
                <h5 class="people-name"><%= principleInvestigator.name %></h5>
                <p class="people-credentials"><%= principleInvestigator.credentials %></p> 
                <p class="people-bio"><%= principleInvestigator.bio %></p>
            </div>
        </div>
    </section>
    
    <section class="people-current">
        <h2 class="current-title">Current Postdoc(s)</h2>
        <ul class="list-current-postdocs">
            <% currentPostDocs.forEach((postdoc) => { %>
                <li>
                    <div class="people-card">
                        <img class="people-avatar" src="<%= postdoc.image ? postdoc.image : blankAvatar %>" alt="<%= postdoc.name %>"/>
                        <div class="people-body">
                            <h5 class="people-name"><%= postdoc.name %></h5>
                            <p class="people-credentials"><%= postdoc.credentials %></p> 
                            <p class="people-bio"><%= postdoc.bio %></p>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
        <h2 class="current-title">Current Graduate Research Assistants</h2>
        <ul class="list-current-grads">
            <% currentGrads.forEach((grad) => { %>
                <li>
                    <div class="people-card">
                        <img class="people-avatar" src="<%= grad.image ? grad.image : blankAvatar %>" alt="<%= grad.name %>"/>
                        <div class="people-body">
                            <h5 class="people-name"><%= grad.name %></h5>
                            <p class="people-credentials"><%= grad.credentials %></p> 
                            <p class="people-bio"><%= grad.bio %></p>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
        <h2 class="current-title">Current Undergraduate Research Assistants</h2>
        <ul class="list-current-undergrads">
            <% currentUndergrads.forEach((undergrad) => { %>
                <li>
                    <div class="people-card">
                        <img class="people-avatar" src="<%= undergrad.image ? undergrad.image : blankAvatar %>" alt="<%= undergrad.name %>"/>
                        <div class="people-body">
                            <h5 class="people-name"><%= undergrad.name %></h5>
                            <p class="people-credentials"><%= undergrad.credentials %></p><br> 
                            <p class="people-bio"><%= undergrad.bio %></p>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </section>
    
    <section class="people-former">
        <h2 class="current-title">Former Postdoc(s)</h2>
        <ul class="list-former-postdocs">
            <% formerPostDocs.forEach((postdoc) => { %>
                <li>
                    <div class="people-card">
                        <h5 class="people-name"><%= postdoc.name %> | <%= postdoc.osu_years %> </h5>
                        <p class="people-research"><%= postdoc.research_topic %></p>
                        <p class="people-paper-link"><a href="<%= postdoc.research_url %>">View their research here</a></p>
                        <p class="people-new-job">Currently: <a href="<%= postdoc.current_job_url ? postdoc.current_job_url : '#' %>"><%= postdoc.current_job %></a></p>
                    </div>
                </li>
            <% }) %>
        </ul>
        <h2 class="current-title">Former Graduate Research Assistants</h2>
        <ul class="list-former-grads">
            <% formerGrads.forEach((grad) => { %>
                <li><%= grad.name %></li>
            <% }) %>
        </ul>
        <h2 class="current-title">Former Undergraduate Research Assistants</h2>
        <ul class="list-former-undergrads">
            <% formerUndergrads.forEach((undergrad) => { %>
                <li><%= undergrad.name %></li>
            <% }) %>
        </ul>
    </section>
</main>


<!-- <section class="people container">
    <% //labTitles.forEach(function(labTitles){%>
        <div class="row">
            <div class="my-2 mx-auto">
                <h3><%= //labTitles %></h3>
            </div>
        </div>
        <br>
        <% //current.forEach(function(current){ %>
            <% //if(current.title === labTitles){ %>
                <div class="card text-white background-color">
                    <div class="row no-gutters justify-content-center">
                    <div class="col-md-3 col-sm-4">
                        <img src="<%= //current.image %>" class="card-img rounded-circle " alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title"><%= //current.name %></h5>
                            <p class="card-text"><%= //current.bio %></p>
                            <p class="card-text"><%= //current.credentials %></p>
                        </div>
                    </div>
                    </div>
                </div>
                <br>
            <% //} %>
        <% //}) %>
    <% //}) %>
</section>
<section class="container">
    <h2>Former Mentees</h2>
    <% //formerTypes.forEach(function(formerTypes){%>
        <div class="row">
            <div class="my-2 mx-auto">
                <h3><%= //formerTypes %></h3>
            </div>
        </div>
        <br>
        <% //if(formerTypes === 'Postdoctoral Researchers' || formerTypes === 'Graduate Students'){ %>
            <div class="grads former-members row">
        <% //}else if(formerTypes === 'Undergraduate Students'){ %>
            <div class="undergrads former-members row no-gutters">
        <% //} %>
            <% //formerMember.forEach(function(formerMember){ %>
                <% //if(formerMember.title === formerTypes){ %>
                    <% //if(formerMember.title === 'Postdoctoral Researchers' || formerMember.title === 'Graduate Students'){ %>
                        <div class="card text-white background bg-dark">
                    <% //}else if(formerMember.title === 'Undergraduate Students'){ %>
                        <div class="card text-white background bg-dark col-sm-4 col-lg-3">
                    <% //} %>
                        <div class="card-body">
                        <h5 class="card-title"><%= //formerMember.name %></h5>
                        <p class="card-text"><%= //formerMember.credentials %></p>
                        <% //if(formerMember.honors && formerMember.honors.length > 0){ %>
                            <p><%= //formerMember.honors %></p>
                        <% //} %>  
                        <p class="card-text"><a href="<%= //formerMember.researchUrl %>"><%= //formerMember.researchTopic %></a></p>
                        <p class="card-text"><a href="<%= //formerMember.currentJobUrl %>"><%= //formerMember.currentJob %></a></p>
                        </div>
                        <div class="card-footer"><%= //formerMember.osuYears %></div>
                    </div>
                    <br>
                <% //} %>
            <% //}) %>
        </div>
    <% //}) %>
</section> -->

<%- include("./partials/footer") %>